<!--NAVBAR-->
<div uk-sticky="start: 170; animation: uk-animation-slide-top; sel-target: .uk-navbar-container; 
cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-dark; end: !main; offset: 0">
    <nav class="uk-navbar-container">
        <div class="uk-container">
            <div uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li><a href="brand">Home</a></li>
                        <li><a href="searchInfluencers">Search</a></li>
                        <li><a href="HistoryBrand">History</a></li>
                        <!--<li><a href="#modal-overflow" uk-toggle>Open</a></li>-->
                        <li><a href="#modal-full" uk-toggle>Add campaign</a></li>
                    </ul>
                </div>  
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li> 
                            <a href="#">
                                <img class="uk-border-circle" [src]="'../../../assets/img/' + imag" alt="Avatar">
                                {{username}}
                                <span class="uk-margin-small-left" uk-navbar-parent-icon></span>
                            </a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="SettingsBrand">Settings</a></li>
                                    <li><a href="#">Help</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="login">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

<div id="modal-full" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="uk-grid-collapseuk-flex-middle uk-child-width-1-2" uk-grid>
            <div class="uk-background-cover uk-width-1-3" style="background-image: url('../../../assets/img/c34a8b8f-6b56-4686-b422-c199081a5b0d.jpg');" uk-height-viewport></div>
            <div class="uk-padding-large uk-width-expand">
                <h1>Add campaign</h1>
                <form (ngSubmit)="onSubmit()" class="" [formGroup]="form"> <!---->
                    
                    <div class="uk-margin">
                        <div class="uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>
                            <div>
                                <label for="name" class="label-left">{{ nameLabel }}
                                </label>
                                <div class="uk-inline">
                                    <span class="uk-form-icon" uk-icon="icon: quote-right" style="fill: black;"></span>
                                    <input type="text" class="form-control uk-input" id="name" formControlName="name" [(ngModel)]="name" name="name" required>
                                </div>
                            </div>
                            <div>
                                <label for="rate" class="label-left">{{ rateLabel }}
                                </label>
                                <div uk-form-custom="target: true">
                                    <input class="uk-input " id="rate" formControlName="rate" type="number" [(ngModel)]="rate"
                                    name="rate" placeholder="What is the rate?" aria-label="Custom controls" > <!--disabled-->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-modal-body">
                        <div class="uk-margin">
                            <div class="uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>
                                <div>
                                    <label for="people" class="label-left">{{ peopleLabel }}</label>
                                    <input type="number" class="form-control uk-input uk-form-width-medium" id="people" formControlName="people" name="people" [(ngModel)]="people" required>
                                </div>
                                <div>
                                    <label for="date" class="label-left">{{ dateLabel }}</label>
                                    <input type="date" class="form-control uk-input uk-form-width-medium" id="date" formControlName="date" name="date" [(ngModel)]="date" required>
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div id="tags" class="uk-margin uk-position-relative">
                                <div class="uk-inline uk-margin-small-right uk-margin-small-bottom uk-margin-small-top">
                                <span class="pointer button-transparent" style="stroke: #1c1c1d !important;">Click to add your tematic categories: </span>
                                <div class="uk-dropdown uk-dropdown-bottom uk-dropdown-scrollable" uk-dropdown="pos: bottom-justify; mode: click">
                                    <div class="uk-margin-small">
                                        <input class="uk-input" type="text" [formControl]="tagFilterInput">
                                    </div>
                                    <ul class="uk-nav uk-dropdown-nav">
                                    <li *ngFor="let tag of filteredTags">
                                        <a (click)="toggleTagFilter(tag.id)">
                                            <input class="uk-checkbox" type="checkbox" [checked]="isTagFilterApplied(tag.id)">
                                            {{ tag.name }}
                                            </a>
                                    </li>
                                    </ul>
                                </div>
                                </div>
                                <span class="uk-margin-medium-bottom"></span><br/>
                                <span *ngFor="let filter of appliedFilters" class="uk-margin-small-right uk-margin-small-bottom uk-badge" style="color: #1c1c1d !important;">
                                {{ getTagNameById(filter) }}
                                <span class="uk-icon" uk-icon="icon: close; ratio: 0.6" (click)="removeTagFilter(filter)" 
                                    style="stroke: #1c1c1d !important;"></span>
                                </span>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <span class="label-left">Choose your platforms:</span>
                            <div class="uk-form-controls">
                                <select class="uk-select" multiple (click)="toggleOption($event)">
                                    <option *ngFor="let platform of platforms" [attr.value]="platform.id" [class.active]="isOptionActive(platform.id)">{{platform.name}}</option>
                                  </select>
                            </div> 
                        </div>
                        <div class="uk-margin">
                            <label for="content" class="label-left">{{ descriptionLabel }}
                            </label>
                            <div class="uk-inline">
                                <textarea class="form-control uk-textarea uk-form-width-large" rows="6" 
                                aria-label="Textarea" id="description" [(ngModel)]="description" formControlName="description" name="description"></textarea>
                            </div>
                            <div class="uk-margin">
                            </div>
                        </div>
                    </div>
                        
                    <div class="uk-text-right"> 
                        <button class="uk-button uk-button-primary uk-button-small uk-align-left" type="reset">Reset</button> 
                        <button class="uk-button uk-button-secondary uk-margin-small-right uk-modal-close" type="button">Cancel</button>
                        <button class="uk-button" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--
<div id="modal-overflow" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close style="stroke: white;"></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Add campaign</h2>
        </div>
        <div class="uk-modal-body" uk-overflow-auto>
            <form (ngSubmit)="onSubmit()" class="">
                <div class="uk-modal-body">
                        <div class="uk-margin">
                            <label for="email" class="label-left">{{ nameLabel }}
                            </label>
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: quote-right" style="fill: black;"></span>
                                <input type="text" class="form-control uk-input uk-form-width-large" id="name" [(ngModel)]="name" name="name" required>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label for="title" class="label-left">{{ imageLabel }}
                            </label>
                            <div uk-form-custom="target: true">
                                <input type="file" aria-label="Custom controls">
                                <div class="uk-inline">
                                    <span class="uk-form-icon" uk-icon="icon: image" style="stroke: black;"></span>
                                    <input class="uk-input uk-form-width-large" id="image" [(ngModel)]="image" type="text" 
                                    name="image" placeholder="Select file" aria-label="Custom controls" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin">
                        <div class="uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>
                            <div>
                                <label for="name" class="label-left">{{ peopleLabel }}</label>
                                <input type="number" class="form-control uk-input uk-form-width-medium" id="people" [(ngModel)]="people" name="people" required>
                            </div>
                            <div>
                                <label for="surname" class="label-left">{{ dateLabel }}</label>
                                <input type="date" class="form-control uk-input uk-form-width-medium" id="date" [(ngModel)]="date" name="date" required>
                            </div>
                        </div>
                    </div>
                        <div class="uk-margin">
                            <label for="title" class="label-left">{{ imageLabel }}
                            </label>
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: quote-right"></span>
                                <input type="text" class="form-control uk-input uk-form-width-large" id="image" [(ngModel)]="image" name="image" required>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label for="title" class="label-left">{{ categoriesLabel }}
                            </label>
                            <div class="uk-inline">
                                <div class="uk-margin">
                                    <select class="uk-select uk-form-width-large" aria-label="Select" aria-placeholder="Select" id="categories" 
                                    [(ngModel)]="categories" name="categories" required>
                                        <option>Option 01</option>
                                        <option>Option 02</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label for="content" class="label-left">{{ shortDescLabel }}
                            </label>
                            <div class="uk-inline">
                                <textarea class="form-control uk-textarea uk-form-width-large" rows="3" 
                                aria-label="Textarea" id="shotrDesc" [(ngModel)]="shotrDesc" name="shotrDesc"></textarea>
                            </div>
                            <div class="uk-margin">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label for="content" class="label-left">{{ descriptionLabel }}
                            </label>
                            <div class="uk-inline">
                                <textarea class="form-control uk-textarea uk-form-width-large" rows="6" 
                                aria-label="Textarea" id="description" [(ngModel)]="description" name="description"></textarea>
                            </div>
                            <div class="uk-margin">
                            </div>
                        </div>
                    </div>
                </form>
            
        </div>

        

    </div>
</div>
-->


  
  
  