<main class="uk-text-center">
    <!--NAVBAR-->
    <app-navbar-influ></app-navbar-influ>

    <div id="banner">
        <h1>My settings</h1>
    </div>
    <div class="uk-child-width-1-2@m" uk-grid>
        <div>
            <div id="profile" class="uk-flex">
                <div class="img">
                    <img class="uk-border-circle" [src]="'../../../assets/img/' + avatar" alt="avatar">
                    <!--<button  class="uk-icon-button  edit uk-margin-small-right" 
                    uk-icon="icon: pencil; ratio: 1.7" style="stroke: #ecebef !important;" 
                    uk-toggle="target: #modal-image"></button>-->
                </div>
                <div>
                    <h1>{{ influencer.pseudonym }}</h1> 
                    <h3>{{ influencer.firstName }} {{ influencer.lastName }}</h3> 
                </div>
            </div>
        </div>
        <div id="table-foll">
            <div class="card">
              <div class="card-header">
                <h2>{{ roundedNumber }}</h2>
              </div>
              <div class="card-content uk-child-width-1-3 uk-flex-center uk-text-center" uk-grid>
                <div *ngFor="let media of platforms" class="">
                  <div class="text-followers">
                    <span [attr.uk-icon]="'icon: ' + media.platformName + '; ratio: 1.6'"></span>
                    <span *ngIf="media.views > 1000000">{{ (media.views / 1000000).toFixed(1) }}M</span>
                    <span *ngIf="media.views < 1000000">{{ (media.views / 1000).toFixed(1) }}k</span>
                  </div>
                  <a href="#" class="uk-icon-button edit uk-margin-small-right" uk-icon="icon: plus; ratio: 1.3" 
                    style="stroke: #ecebef !important;" uk-toggle="target: #modal-followers"></a>
                </div>
              </div>
            </div>
        </div>
        <div>
            <div class="uk-padding-large uk-child-width-1-1" uk-grid>
                <div class="uk-margin-large">
                    <div class="card">
                        <div class="card-body">
                            <p>{{ influencer.description }}</p>
                        </div>
                        <a href="#" class="uk-icon-button  edit uk-margin-small-right" uk-icon="icon: pencil; ratio: 1.7" 
                        style="stroke: #ecebef !important;" uk-toggle="target: #modal-description"></a>
                    </div>
                </div>
                <div id="tags" class="uk-margin-large">
                    <div class="card">
                        <div class="card-header-small">
                            <h2>Your tags:</h2>
                        </div>
                        <div class="card-body-small">
                            <span *ngFor="let tag of filteredTag" class="uk-badge uk-margin-small-right uk-margin-small-bottom" style="color:#1c1c1d !important;">
                                {{ tag.name }}
                            </span>
                        </div>
                        <a href="#" class="uk-icon-button edit uk-margin-small-right" uk-icon="icon: pencil; ratio: 1.7" style="stroke: #ecebef !important;" uk-toggle="target: #modal-tags"></a>
                    </div>
                </div>
                <!--
                <div id="notification" class="uk-margin-large">
                    <div class="card">
                        <div class="card-header-small">
                            <h2>Notifications:</h2>
                        </div>
                        <div class="card-content-small uk-child-width-1-5@m uk-flex-center uk-text-center" uk-grid>
                            <div *ngFor="let brand of brands" class="">
                                <div class="">
                                    <span class=""> {{ brand.brand }} </span>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="uk-icon-button edit uk-margin-small-right" uk-icon="icon: pencil; ratio: 1.7" style="stroke: #ecebef !important;" uk-toggle="target: #modal-notification"></a>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <div class="uk-padding-large">
        <div>
            <h1>Manage account:</h1>
            <div id="change-pass" class="uk-margin-large">
                <h2>Change password:</h2>
                <form (ngSubmit)="changePass()" class="">
                    <div class="uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>
                        <div>
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: lock" style="stroke: black;"></span>
                                <input type="password" class="form-control uk-input" id="prevPass" name="prevPass" 
                                [(ngModel)]="prevPass" placeholder="Current password" required>
                                <a uk-icon="icon: eye" class="uk-form-icon uk-form-icon-flip" id="show" 
                                onclick="var passwordInput = document.querySelector('#prevPass'); 
                                var icon = document.querySelector('#show');
                                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                                passwordInput.setAttribute('type', type);
                                const ico = icon.getAttribute('uk-icon') === 'eye-slash' ? 'eye' : 'eye-slash';
                                icon.setAttribute('uk-icon', ico);" uk-tooltip="Show password" style="stroke: black;"></a>
                            </div>
                        </div>
                        <div>
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: lock" style="stroke: black;"></span>
                                <input type="password" class="form-control uk-input" id="newPass" name="newPass" 
                                [(ngModel)]="newPass" placeholder="New password" required>
                                <a uk-icon="icon: eye" class="uk-form-icon uk-form-icon-flip" id="show1" 
                                onclick="var passwordInput = document.querySelector('#newPass'); 
                                var icon = document.querySelector('#show1');
                                const type1 = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                                passwordInput.setAttribute('type', type1);
                                const ico2 = icon.getAttribute('uk-icon') === 'eye-slash' ? 'eye' : 'eye-slash';
                                icon.setAttribute('uk-icon', ico2);" uk-tooltip="Show pass2" style="stroke: black;"></a>
                            </div>
                        </div>
                    </div>
                        <button type="submit" class="uk-button">Change</button>
                </form>
            </div>
        </div>
    </div>
</main>  

<!--FOOTER-->
<app-footer-influ></app-footer-influ>
<!--SIDENAV
<app-sidenav></app-sidenav>-->


<div id="modal-image" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Choose new profile picture</h2>
        <form (ngSubmit)="SubmitImage()">
            <div uk-form-custom="target: true">
                <input type="file" aria-label="Custom controls">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: image" style="stroke: black;"></span>
                    <input class="uk-input " id="image" [(ngModel)]="image" type="text" 
                    name="image" placeholder="Select file" aria-label="Custom controls" disabled>
                </div>
            </div>
            <p class="uk-text-right">
                <button class="uk-button uk-button-primary uk-modal-close" type="button">Cancel</button>
                <button class="uk-button uk-margin-medium-left" type="submit">Save</button>
            </p>
        </form>
    </div>
</div>

<div id="modal-followers" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-text-center">
        <h2 class="uk-modal-title">Log in to platform</h2>
        <div class="uk-child-width-1-1">
                <button class="uk-button uk-margin-small-bottom" style="background-color: #0088ff; vertical-align: middle;" uk-toggle="target: #modal-twitter"><i uk-icon="icon: twitter; ratio: 0.9"></i><span>Continue with Twitter</span></button>
                <button class="uk-button uk-margin-small-bottom" style="background-color: #bb00ff; vertical-align: middle;" uk-toggle="target: #modal-instagram"><i uk-icon="icon: instagram; ratio: 0.9"></i><span>Continue with Instagram</span></button>
                <button class="uk-button uk-margin-small-bottom" style="background-color: #cf0f0f; vertical-align: middle;" uk-toggle="target: #modal-youtube"><i uk-icon="icon: youtube; ratio: 0.9"></i><span>Continue with YouTube</span></button>
            </div>
    </div>
</div>

<div id="modal-twitter" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Add twitter account</h2>
        <form (ngSubmit)="submitPlatform(2)">
            <div class="uk-inline">
                <p>Username used in Twitter:</p>
              <input type="text" class="form-control uk-textarea uk-form-width-large" rows="6" aria-label="Textarea" id="username"
                [(ngModel)]="username" name="username"/>
            </div>
            <div class="uk-margin">
                <div>
                    <p style="color: crimson;">You must approve the changes via password. Not inserted, the changes will not be applied!</p>
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: lock" style="stroke: black;"></span>
                        <input type="password" class="form-control uk-input" id="pass5" name="pass5" 
                        [(ngModel)]="pass5" placeholder="Enter passowrd" required>
                        <a uk-icon="icon: eye" class="uk-form-icon uk-form-icon-flip" id="show5" 
                        onclick="var passwordInput = document.querySelector('#pass5'); 
                        var icon = document.querySelector('#show5');
                        const type5 = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                        passwordInput.setAttribute('type', type5);
                        const ico5 = icon.getAttribute('uk-icon') === 'eye-slash' ? 'eye' : 'eye-slash';
                        icon.setAttribute('uk-icon', ico5);" uk-tooltip="Show pass5" style="stroke: black;"></a>
                    </div>
                </div>
            </div>
            <p class="uk-text-right">
              <button class="uk-button uk-button-primary uk-modal-close" (click)="CancelDescripion()" type="button">Cancel</button>
              <button class="uk-button uk-margin-medium-left" button="submit">Save</button>
            </p>
        </form>
    </div>
</div>
  
<div id="modal-instagram" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Add instagram account</h2>
        <form (ngSubmit)="submitPlatform(3)">
            <div class="uk-inline">
                <p>Username used in Instagram:</p>
              <input type="text" class="form-control uk-textarea uk-form-width-large" rows="6" aria-label="Textarea" id="username"
                [(ngModel)]="username" name="username"/>
            </div>
            <div class="uk-margin">
                <div>
                    <p style="color: crimson;">You must approve the changes via password. Not inserted, the changes will not be applied!</p>
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: lock" style="stroke: black;"></span>
                        <input type="password" class="form-control uk-input" id="pass6" name="pass6" 
                        [(ngModel)]="pass6" placeholder="Enter passowrd" required>
                        <a uk-icon="icon: eye" class="uk-form-icon uk-form-icon-flip" id="show6" 
                        onclick="var passwordInput = document.querySelector('#pass6'); 
                        var icon = document.querySelector('#show6');
                        const type6 = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                        passwordInput.setAttribute('type', type6);
                        const ico6 = icon.getAttribute('uk-icon') === 'eye-slash' ? 'eye' : 'eye-slash';
                        icon.setAttribute('uk-icon', ico6);" uk-tooltip="Show pass6" style="stroke: black;"></a>
                    </div>
                </div>
            </div>
            <p class="uk-text-right">
              <button class="uk-button uk-button-primary uk-modal-close" (click)="CancelDescripion()" type="button">Cancel</button>
              <button class="uk-button uk-margin-medium-left" button="submit">Save</button>
            </p>
        </form>
    </div>
</div>
  
<div id="modal-youtube" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Add youtube account</h2>
        <form (ngSubmit)="submitPlatform(1)">
            <div class="uk-inline">
                <p>Username used in YouTube:</p>
              <input type="text" class="form-control uk-textarea uk-form-width-large" rows="6" aria-label="Textarea" id="username"
                [(ngModel)]="username" name="username"/>
            </div>
            <div class="uk-margin">
                <div>
                    <p style="color: crimson;">You must approve the changes via password. Not inserted, the changes will not be applied!</p>
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: lock" style="stroke: black;"></span>
                        <input type="password" class="form-control uk-input" id="pass7" name="pass7" 
                        [(ngModel)]="pass5" placeholder="Enter passowrd" required>
                        <a uk-icon="icon: eye" class="uk-form-icon uk-form-icon-flip" id="show7" 
                        onclick="var passwordInput = document.querySelector('#pass7'); 
                        var icon = document.querySelector('#show7');
                        const type7 = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                        passwordInput.setAttribute('type', type7);
                        const ico7 = icon.getAttribute('uk-icon') === 'eye-slash' ? 'eye' : 'eye-slash';
                        icon.setAttribute('uk-icon', ico7);" uk-tooltip="Show pass7" style="stroke: black;"></a>
                    </div>
                </div>
            </div>
            <p class="uk-text-right">
              <button class="uk-button uk-button-primary uk-modal-close" (click)="CancelDescripion()" type="button">Cancel</button>
              <button class="uk-button uk-margin-medium-left" button="submit">Save</button>
            </p>
        </form>
    </div>
</div>
  
<div id="modal-description" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Change description</h2>
      <form (ngSubmit)="SubmitDescripion()">
        <div class="uk-inline">
          <textarea class="form-control uk-textarea uk-form-width-large" rows="6" aria-label="Textarea" id="newDesc"
            [(ngModel)]="influencer.description" name="newDesc"></textarea>
        </div>
        <div class="uk-margin">
            <div>
                <p style="color: crimson;">You must approve the changes via password. Not inserted, the changes will not be applied!</p>
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock" style="stroke: black;"></span>
                    <input type="password" class="form-control uk-input" id="pass3" name="pass3" 
                    [(ngModel)]="pass3" placeholder="Enter passowrd" required>
                    <a uk-icon="icon: eye" class="uk-form-icon uk-form-icon-flip" id="show3" 
                    onclick="var passwordInput = document.querySelector('#pass3'); 
                    var icon = document.querySelector('#show3');
                    const type3 = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                    passwordInput.setAttribute('type', type3);
                    const ico3 = icon.getAttribute('uk-icon') === 'eye-slash' ? 'eye' : 'eye-slash';
                    icon.setAttribute('uk-icon', ico3);" uk-tooltip="Show pass3" style="stroke: black;"></a>
                </div>
            </div>
        </div>
        <p class="uk-text-right">
          <button class="uk-button uk-button-primary uk-modal-close" (click)="CancelDescripion()" type="button">Cancel</button>
          <button class="uk-button uk-margin-medium-left" button="submit">Save</button>
        </p>
      </form>
    </div>
  </div>
  

<div id="modal-tags" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Choose new profile picture</h2>
      <form (ngSubmit)="deleteAtIndex(); closeModal()"><!--
        <div>
          <button type="button" *ngFor="let tag of categories; let i = index" 
            class="uk-badge-edit uk-badge uk-margin-small-right uk-margin-small-bottom btn" 
            [class.active]="isIndexSelected(i)" 
            style="color:#1c1c1d !important;" 
            (click)="toggleIndex(i)">
            {{ tag.name }}
          </button>
        </div>-->
        <div class="uk-margin">
            <div id="tags" class="uk-margin uk-position-relative">
                <div class="uk-inline uk-margin-small-right uk-margin-small-bottom uk-margin-small-top">
                <span class="pointer button-transparent" style="stroke: #1c1c1d !important;">Click to menage your tematic categories: </span>
                <div class="uk-dropdown uk-dropdown-bottom uk-dropdown-scrollable" uk-dropdown="pos: bottom-justify; mode: click">
                    <div class="uk-margin-small">
                        <input class="uk-input" type="text" [formControl]="tagFilterInput">
                    </div>
                    <ul class="uk-nav uk-dropdown-nav">
                    <li *ngFor="let tag of filteredTags">
                        <a (click)="toggleTagFilter(tag.id)">
                            <input class="uk-checkbox" type="checkbox" [checked]="isTagFilterApplied(tag.id)">
                            {{ tag.name }}
                            </a>
                    </li>
                    </ul>
                </div>
                </div>
                <span class="uk-margin-medium-bottom"></span><br/>
                <span *ngFor="let filter of appliedFilters" class="uk-margin-small-right uk-margin-small-bottom uk-badge" style="color: #1c1c1d !important;">
                {{ getTagNameById(filter) }}
                <span class="uk-icon" uk-icon="icon: close; ratio: 0.6" (click)="removeTagFilter(filter)" 
                    style="stroke: #1c1c1d !important;"></span>
                </span>
            </div>
        </div>
        <div class="uk-margin">
            <div>
                <p style="color: crimson;">You must approve the changes via password. Not inserted, the changes will not be applied!</p>
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock" style="stroke: black;"></span>
                    <input type="password" class="form-control uk-input" id="pass4" name="pass4" 
                    [(ngModel)]="pass4" placeholder="Enter passowrd" required>
                    <a uk-icon="icon: eye" class="uk-form-icon uk-form-icon-flip" id="show4" 
                    onclick="var passwordInput = document.querySelector('#pass4'); 
                    var icon = document.querySelector('#show4');
                    const type4 = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                    passwordInput.setAttribute('type', type4);
                    const ico4 = icon.getAttribute('uk-icon') === 'eye-slash' ? 'eye' : 'eye-slash';
                    icon.setAttribute('uk-icon', ico4);" uk-tooltip="Show pass4" style="stroke: black;"></a>
                </div>
            </div>
        </div>
        <p class="uk-text-right">
          <button class="uk-button uk-button-primary uk-modal-close " type="button" >Cancel</button>
          <button class="uk-button uk-margin-medium-left" type="submit" (click)="closeModal()">Save</button>
        </p>
      </form>
    </div>
  </div>
  
<!--
<div id="modal-notification" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Choose new profile picture</h2>
        <form (ngSubmit)="DeleteAtIndex()">
            <div>
                <button type="button" *ngFor="let brand of brands" class="" class="uk-badge-edit uk-badge uk-margin-small-right uk-margin-small-bottom btn" onclick="this.style.border = '1px solid green'" style="color:#1c1c1d !important;" (click)="AddToIndexesN(brand.id)"> 
                    {{ brand.brand }}</button>
            </div>
            <p class="uk-text-right">
                <button class="uk-button uk-button-primary uk-modal-close" type="button" (click)="RemoveIndex()">Cancel</button>
                <button class="uk-button uk-margin-medium-left" type="submit">Save</button>
            </p>
        </form>
    </div>
</div>-->