<main class="uk-text-center">
    <!--NAVBAR-->
    <app-navbar-brand></app-navbar-brand>

    <div id="banner">
        <h1>Search Campaigns</h1>
    </div>
    <div>
        <div class="uk-margin">
            <form class="uk-search uk-search-default">
              <span uk-search-icon></span>
              <input class="uk-search-input uk-input uk-form-width-large" type="search" placeholder="Search" aria-label="Search"
                [formControl]="searchInput" [typeahead]="filteredTags" [typeaheadMinLength]="1" [typeaheadOptionsLimit]="10"
                [typeaheadItemTemplate]="customTypeaheadTemplate">
            </form>
            <!-- Updated typeahead suggestion template -->
            <ng-template #customTypeaheadTemplate let-suggestion="item">
              <span class="uk-badge">{{ suggestion }}</span>
            </ng-template>
          </div>
    </div>
    <div id="filter">
        <div class="uk-margin uk-position-relative">
            <div class="uk-inline uk-margin-small-right">
                <span class="uk-icon" uk-icon="icon: tag" style="stroke: #1c1c1d !important;">Filter by tags: </span>
                <div class="uk-dropdown uk-dropdown-bottom uk-dropdown-scrollable" uk-dropdown="pos: bottom-justify; mode: click">
                    <div class="uk-margin-small">
                        <!--<input class="uk-input" type="text" [(ngModel)]="tagFilterInput" (ngModelChange)="filterTags($event)" > (click)="clearTagFilter()">-->
                        <input class="uk-input" type="text" [(ngModel)]="tagFilterInput" (input)="filterTags(tagFilterInput)">
                    </div>
                    <ul class="uk-nav uk-dropdown-nav">
                        <li *ngFor="let tag of filteredTags">
                            <a (click)="toggleTagFilter(tag)">
                                <input class="uk-checkbox" type="checkbox" [checked]="isTagFilterApplied(tag)">
                                {{ tag }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <span *ngFor="let filter of appliedFilters" class="uk-margin-small-right uk-badge">
                {{ filter }}
                <span class="uk-icon" uk-icon="icon: close; ratio: 0.6" (click)="removeTagFilter(filter)" 
                style="stroke: #1c1c1d !important;"></span>
            </span>
        </div>
    </div>
    <div id="campaigns" uk-grid>
        <section class="uk-width-4-6 uk-margin-large uk-align-center">
            <div uk-filter="target: .js-filter">
                <div id="bar" class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto uk-text-nowrap">
                        <div>
                           Name
                            <span uk-filter-control="sort: data-name">
                                <a href="#" uk-icon="icon: arrow-down" style="fill: #1c1c1d;" aria-label="Sort ascending"></a></span>
                            <span uk-filter-control="sort: data-name; order: desc">
                                <a href="#" uk-icon="icon: arrow-up" style="fill: #1c1c1d;" aria-label="Sort descending"></a></span>
                        </div>
                    </div>
                    <div class="uk-width-auto uk-text-nowrap">
                        <div>
                            Followers
                            <span uk-filter-control="sort: data-follow">
                                <a  href="#" uk-icon="icon: arrow-down" style="fill: #1c1c1d;" aria-label="Sort ascending"></a></span>
                            <span uk-filter-control="sort: data-follow; order: desc">
                                <a  href="#" uk-icon="icon: arrow-up" style="fill: #1c1c1d;" aria-label="Sort descending"></a></span>
                        </div>
                    </div>
                    <div class="uk-width-auto uk-text-nowrap">
                        <div>
                            Joined campaigns
                            <span uk-filter-control="sort: data-join">
                                <a href="#" uk-icon="icon: arrow-down" style="fill: #1c1c1d;" aria-label="Sort ascending"></a></span>
                            <span uk-filter-control="sort: data-join; order: desc">
                                <a href="#" uk-icon="icon: arrow-up" style="fill: #1c1c1d;" aria-label="Sort descending"></a></span>
                        </div>
                    </div>
                    <div class="uk-width-auto uk-text-nowrap">
                        <div>
                            <a id="toggle" uk-toggle="target: .toggle">Show tags</a>
                        </div>
                    </div>
                    
                </div>
                <ul id="content" class="js-filter uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center" uk-grid="masonry: true">
                    <li *ngFor="let search of filterCampaigns()"
                    [attr.data-name]="search.name"
                    [attr.data-follow]="search.followers"
                    [attr.data-join]="search.joinedCampaigns">
                        <div class="uk-card uk-card-default uk-card-body" uk-grid>
                            <div class="uk-width-1-5 uk-flex uk-flex-center uk-flex-middle">
                               <div class="img">
                                    <div class="uk-flex uk-flex-center uk-flex-middle uk-background-cover" 
                                    [attr.data-src]="'../../../assets/img/' + search.avatar" style="width: 7vw !important; height: 7vw !important; border-radius: 50%;" uk-img></div>
                                </div> 
                            </div>
                            <div class="uk-width-3-5" style="padding: 1rem;">
                                <div class="" ><h3>{{ search.name }}</h3></div>
                                <div class="" >{{ search.followers }}</div>
                                <div class="" >{{ search.joinedCampaigns }} capmaigns</div>
                                <div>
                                    <div class="toggle" hidden>
                                        <div *ngFor="let tag of search.tags" style="color: #1c1c1d !important;" class="uk-badge">
                                            {{ tag }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="uk-width-1-5 side uk-flex uk-flex-middle uk-flex-center">
                                <span uk-icon="icon: chevron-right; ratio: 3.5" style="stroke: #eaeaea !important;"></span> 
                            </a>
                            
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</main>  

<!--FOOTER-->
<app-footer-brand></app-footer-brand>
  
  
  