<main class="uk-text-center">
    <!--NAVBAR-->
    <app-navbar-brand></app-navbar-brand>

    <div id="banner">
        <h1>My settings</h1>
    </div>
    <div class="uk-child-width-1-1@m">
        <div>
            <div id="profile" class="uk-flex">
                <div class="img">
                    <img class="uk-border-circle" [attr.src]="' ../../../assets/img/' + avatar" alt="avatar">
                    <button  class="uk-icon-button  edit uk-margin-small-right" 
                    uk-icon="icon: pencil; ratio: 1.7" style="stroke: #ecebef !important;" 
                    uk-toggle="target: #modal-image"></button>
                </div>
                <h1>{{ brand.name }}</h1> 
            </div>
        </div>
    </div>
    <div *ngIf="brand.description != null">
        <div class="uk-padding-large uk-child-width-1-1" uk-grid>
            <div class="uk-margin-large">
                <div class="card">
                    <div class="card-body">
                        <p>{{ brand.description }}</p>
                    </div>
                    <a href="#" class="uk-icon-button  edit uk-margin-small-right" uk-icon="icon: pencil; ratio: 1.7" 
                    style="stroke: #ecebef !important;" uk-toggle="target: #modal-description"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-padding-large">
        <div>
            <h1>Manage account:</h1>
            <div id="change-pass" class="uk-margin-large">
                <h2>Change password:</h2>
                <form (ngSubmit)="onSubmit()" class="">
                    <div class="uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>
                        <div>
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: lock" style="stroke: black;"></span>
                                <input type="password" class="form-control uk-input" id="prevPass" name="prevPass" 
                                [(ngModel)]="prevPass" placeholder="Current password" required>
                                <a uk-icon="icon: eye" class="uk-form-icon uk-form-icon-flip" id="show" 
                                onclick="var passwordInput = document.querySelector('#prevPass'); 
                                var icon = document.querySelector('#show');
                                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                                passwordInput.setAttribute('type', type);
                                const ico = icon.getAttribute('uk-icon') === 'eye-slash' ? 'eye' : 'eye-slash';
                                icon.setAttribute('uk-icon', ico);" uk-tooltip="Show password" style="stroke: black;"></a>
                            </div>
                        </div>
                        <div>
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: lock" style="stroke: black;"></span>
                                <input type="password" class="form-control uk-input" id="newPass" name="newPass" 
                                [(ngModel)]="newPass" placeholder="New password" required>
                                <a uk-icon="icon: eye" class="uk-form-icon uk-form-icon-flip" id="show1" 
                                onclick="var passwordInput = document.querySelector('#newPass'); 
                                var icon = document.querySelector('#show1');
                                const type1 = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                                passwordInput.setAttribute('type', type1);
                                const ico2 = icon.getAttribute('uk-icon') === 'eye-slash' ? 'eye' : 'eye-slash';
                                icon.setAttribute('uk-icon', ico2);" uk-tooltip="Show pass2" style="stroke: black;"></a>
                            </div>
                        </div>
                    </div>
                        <button type="submit" class="uk-button">Change</button>
                </form>
            </div>
        </div>
        <div>
            <h2>Change default background picture</h2>
            <form (ngSubmit)="SubmitImage()">
                <div uk-form-custom="target: true">
                    <input type="file" aria-label="Custom controls">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: image" style="stroke: black;"></span>
                        <input class="uk-input " id="image" [(ngModel)]="image" type="text" 
                        name="image" placeholder="Select file" aria-label="Custom controls" disabled>
                    </div>
                    <button class="uk-button uk-margin-medium-left" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</main>  

<!--FOOTER-->
<app-footer-brand></app-footer-brand>


<div id="modal-image" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Choose new profile picture</h2>
        <form (ngSubmit)="SubmitImage()">
            <div uk-form-custom="target: true">
                <input type="file" aria-label="Custom controls">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: image" style="stroke: black;"></span>
                    <input class="uk-input " id="image" [(ngModel)]="image" type="text" 
                    name="image" placeholder="Select file" aria-label="Custom controls" disabled>
                </div>
            </div>
            <p class="uk-text-right">
                <button class="uk-button uk-button-primary uk-modal-close" type="button">Cancel</button>
                <button class="uk-button uk-margin-medium-left" type="submit">Save</button>
            </p>
        </form>
    </div>
</div>

  
<div id="modal-description" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Change description</h2>
        <form (ngSubmit)="SubmitDescripion()">
            <div class="uk-inline">
                <textarea class="form-control uk-textarea uk-form-width-large" rows="9" 
                aria-label="Textarea" id="shotrDesc" [(ngModel)]="brand.description" name="shotrDesc"></textarea>
            </div>
            <div class="uk-margin">
                <div>
                    <p style="color: crimson;">You must approve the changes via password. Not inserted, the changes will not be applied!</p>
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: lock" style="stroke: black;"></span>
                        <input type="password" class="form-control uk-input" id="pass3" name="pass3" 
                        [(ngModel)]="pass3" placeholder="Enter passowrd" required>
                        <a uk-icon="icon: eye" class="uk-form-icon uk-form-icon-flip" id="show3" 
                        onclick="var passwordInput = document.querySelector('#pass3'); 
                        var icon = document.querySelector('#show3');
                        const type3 = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                        passwordInput.setAttribute('type', type3);
                        const ico3 = icon.getAttribute('uk-icon') === 'eye-slash' ? 'eye' : 'eye-slash';
                        icon.setAttribute('uk-icon', ico3);" uk-tooltip="Show pass3" style="stroke: black;"></a>
                    </div>
                </div>
            </div>
            <p class="uk-text-right">
                <button class="uk-button uk-button-primary uk-modal-close" (click)="cancel()" type="button">Cancel</button>
                <button class="uk-button uk-margin-medium-left" type="submit">Save</button>
            </p>
        </form>
    </div>
</div>