<main class="">
    <!--NAVBAR-->
    <app-navbar></app-navbar>
    <!--CONTENT-->
    <div id="content" class="uk-child-width-1-2@m uk-text-center" uk-grid>
        <!--INFLUENCER-->
        <div class="card">
            <a href="registerInflu">
                <div class="card-body">
                    <img src="../../assets/img/influencer.png" alt="Login Image">
                    <h1>I am an Influencer</h1>
                </div>
            </a>
        </div>
        <!--BRAND-->
        <div class="card">
            <a href="registerBrand">
                <div class="card-body">
                    <img src="../../assets/img/brand.png" alt="Login Image">
                    <h1>I am a Brand</h1>
                </div>
            </a>
        </div>
    </div>
</main>
<!--FOOTER-->
<app-footer></app-footer>
  