<!--NAVBAR-->
<div uk-sticky="start: 170; animation: uk-animation-slide-top; sel-target: .uk-navbar-container; 
cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-dark; end: !main; offset: 0">
    <nav class="uk-navbar-container">
        <div class="uk-container">
            <div uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li><a href="influ">Home</a></li>
                        <li><a href="searchBrands">Search</a></li>
                        <li><a href="HistoryInflu">History</a></li>
                    </ul>
                </div>  
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="#">
                                <img class="uk-border-circle" [src]="'../../../assets/img/' + imag" alt="Avatar">
                                {{ username }}
                                <span class="uk-margin-small-left" uk-navbar-parent-icon></span>
                            </a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="settingsInflu">Settings</a></li>
                                    <li><a href="#">Help</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>