<!--FOOTER-->
<footer>
    <div class="uk-child-width-1-2@m" uk-grid>
        <div class="">
            <img src="../../assets/img/logo.png" alt="logo"/>
            <h3>Find your match on InfluBridge.</h3>
            <div class="uk-flex uk-flex-center">
                <span uk-icon="icon: facebook; ratio: 1.25" class="uk-margin-small-right"></span>
                <span uk-icon="icon: twitter; ratio: 1.25" class="uk-margin-small-right"></span>
                <span uk-icon="icon: instagram; ratio: 1.25" class="uk-margin-small-right"></span>
            </div>
        </div>
        <div class="">
            <ul class="uk-nav-default" uk-nav>
                <li class="uk-nav-header">Shortcut</li>
                <li><a href="influ"><span class="uk-margin-small-right nav-icon" uk-icon="icon: home"></span> Main screen</a></li>
                <li><a href="searchBrands"><span class="uk-margin-small-right nav-icon" uk-icon="icon: search" style="stroke: #eaeaea;"></span> Search for campaigns</a></li>
                <li><a href="HistoryInflu"><span class="uk-margin-small-right nav-icon" uk-icon="icon: list"></span> History of campaign</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="settingsInflu"><span class="uk-margin-small-right nav-icon" uk-icon="icon: cog" style="stroke: #eaeaea;"></span> Settings</a></li>
               
            </ul>
        </div>
    </div>
</footer>
